﻿@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div id="elfinder"></div>
    <script src="~/admin/lib/snote/jquery.min.js"></script>
    <script src="~/admin/lib/snote/bootstrap.bundle.min.js"></script>
    <link href="~/admin/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/admin/lib/snote/summernote-bs4.js"></script>
    <link rel="stylesheet" href="~/admin/lib/snote/summernote-bs4.css" />
    <link href="~/admin/lib/jqueryui/themes/themes/base/theme.css" rel="stylesheet" />
    <link href="~/admin/lib/jqueryui/themes/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/admin/lib/elFinder/css/elfinder.full.css" rel="stylesheet" />
    <link href="~/admin/lib/elFinder/css/theme.css" rel="stylesheet" />
    <script src="~/admin/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/admin/lib/elFinder/js/elfinder.min.js"></script>
    <script type="text/javascript">
        // Documentation for client options:
        // https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
        $(document).ready(function () {
            var myCommands = elFinder.prototype._options.commands;

            // Not yet implemented commands in elFinder.NetCore
            var disabled = ['callback', 'chmod', 'editor', 'netmount', 'ping', 'search', 'zipdl', 'help'];
            elFinder.prototype.i18.en.messages.TextArea = "Edit";

            $.each(disabled, function (i, cmd) {
                (idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx, 1);
            });

            var options = {
                baseUrl: "/Admin/lib/elfinder/",
                url: "/Admin/el-finder-file-system/connector",
                rememberLastDir: false,
                commands: myCommands,
                lang: 'en',
                uiOptions: {
                    toolbar: [
                        ['back', 'forward'],
                        ['reload'],
                        ['home', 'up'],
                        ['mkdir', 'mkfile', 'upload'],
                        ['open', 'download'],
                        ['undo', 'redo'],
                        ['info'],
                        ['quicklook'],
                        ['copy', 'cut', 'paste'],
                        ['rm'],
                        ['duplicate', 'rename', 'edit'],
                        ['selectall', 'selectnone', 'selectinvert'],
                        ['view', 'sort']
                    ]
                },
                //onlyMimes: ["image", "text/plain"] // Get files of requested mime types only
                lang: 'en',
            };
            $('#elfinder').elfinder(options).elfinder('instance');
        });
    </script>
</main> 