@model startup.Models.Post

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận xóa bài viết</h2>
    </div>
    <div class="form-row">
        <div class="tox-form-group--maximize col-md-6">
            <label asp-for="PostID">PostID</label>
            <input type="text" class="form-control mb-3" asp-for="PostID" disabled>
        </div>
    </div>
    <!--begin form-->
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="PostID" />
        <a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i>Quay lại
        </a>
        <button type="submit" class="btn btn-lg btn-danger p-2">
            <i class="bi bi-trash-fill"></i>Xóa bài viết
        </button>
    </form>
    <!--End Form-->
</main>